<%# banner %>
<div class="banner">
  <h1 class="title" style="font-size:10vw">Office Rent</h1>
  <p>Your Solution for Finding the Perfect Office Space.</p>
 Explore a wide variety of office spaces.
 Find places that fit your budget and needs.
 Easy to use and hassle-free.</p>
</div>
<%# end of banner %>

<div class="row justify-content-center">
  <div class="col-sm-3 my-4">
    <%= form_with url: flats_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-search",
        placeholder: "Where do you want to rent?"
      %>
    <%= submit_tag "Search", name: "", class: "search-button type1" %>
    <% end %>
  </div>
</div>

<div class="cards-grid">
  <% @flats.each do |flat| %>
      <div class="card">
          <% if flat.photo.attached? %>
            <div class="card_form-image">
              <%= cl_image_tag flat.photo.key, height: 300, width: 300, crop: :fill %>
              <span><%= flat.address %></span>
            </div>
          <% else   %>
            <div class="card_form">
                <span><%= flat.address %></span>
            </div>
          <% end %>

        <div class="card_data">
          <div style="display: flex" class="data">
            <div class="text">
              <label class="text_m">Flat to share!</label>
              <div class="cube text_s">
                <label class="side front" ><%= flat.price %>€</label>
                <label class="side top"><%= flat.name %></label>
              </div>
            </div>
          </div>
          <span><%= link_to "See Details!", flat_path(flat), class: "Btn" %></span>
        </div>
      </div>
  <% end %>
</div>
