<%# <%= simple_form_for(@flat) do |f| %>
  <%# <%= f.label :name %>
  <%# <%= f.text_field :name %>
  <%# <%= f.label :address %>
  <%# <%= f.text_field :address %>
  <%# <%= f.label :price %>
  <%# <%= f.number_field :price %>
  <%# <%= f.input :photo, as: :file %>
  <%# <%= f.submit %>
<%# <% end %>

<div class="container">
  <h1 class="title">Add new flat!</h1>
  <%= simple_form_for @flat do |f| %>
    <%= f.input :name %>
    <%= f.input :address%>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <br>
    <%= f.submit "Publish flat" %>
  <% end %>
  <br>
  <%= link_to "Back Home", flats_path %>
</div>
