<br>
<br>
<br>
<br>
<br>
<div class="container flat-form">
  <%= simple_form_for @flat, defaults: { input_html: { class: 'flat-input' }, text_field: {class: "flat-text" } } do |f| %>
  <p class="title">Add a new flat! </p>
  <div class="input-field">
    <%= f.input :name, label: "Name of the flat" %>
    <%= f.input :address %>
  </div>
    <%= f.label :price %>
    <%= f.number_field :price %> <br><br>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Publish flat", class: "submit-btn" %>
  <% end %>

  <%= link_to flats_path  do %>
    <i class="fa-solid fa-house" style="color: black"></i>
  <% end %>
</div>
