<h2><%= @flat.name %></h2>
<p><%= @flat.address %></p>
<p><%= @flat.price %></p>
<p><%= @flat.user.email %></p>

<p>Requested bookings:</p>
<ul>
<% @flat.bookings.each do |booking| %>
  <li><%= link_to booking.request_date, booking_path(booking) %></li>
<% end %>
</ul>

<%= link_to "Edit flat", edit_flat_path(@flat) %>

<%= link_to "back Home", flats_path %>

<%= link_to "Delete",
  flat_path(@flat),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

 <%= link_to "Book me", new_flat_booking_path(@flat) %>
