<br>
<br>
<br>
<br>
<br>
  <%# link_to booking.request_date, booking_path(booking) %>

<div class="cards-bookings">
  <% @bookings.each do |booking| %>
    <div class="card-product">
      <% if booking.flat.photo.attached? %>
        <%= cl_image_tag booking.flat.photo.key, height: 300, width: 300, crop: :fill %>
      <% else   %>
        <%= image_tag "empty-office-with-pot-plant_1170-1080.jpg" %>
      <% end %>

      <div class="card-product-infos">
        <h2><%= booking.flat.name %></h2>
        <p>Requested Date:<br><strong><%= booking.request_date %></strong></p>
        <p><%= booking.flat.address %></p>
        <p><strong><%= booking.flat.price %>€</strong></p>

      </div>

      <div class="card-product-actions">
          <div class="status"><%= booking.status %></div>
          <%= link_to "Delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "cancel" %>
      </div>
    </div>
  <% end %>
</div>
