<br>
<br>
<br>
<br>
<br>
<div class="container flat-form">
  <h2><strong>You successfully requested:</strong></h2>

  <p><%= @booking.flat.name %></p>
  <p><%= @booking.request_date %></p>
  <p>current status:  <%= @booking.status.capitalize %> </p>

<br>
  <%= link_to "Continue", flats_path, class: "btn btn-flat" %>

<br>
  <p>Not happy with your booking?
  <%= link_to "Delete", booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "cancel" %>
  </p>

</div>
