<%# <footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <%# <li><%= link_to "Contact", contact_path %></li>
      <%# <li><%= link_to "privacy protection", privacy_protection_path %></li>
    <%# </ul>
  </nav>
</footer> %>


 <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Finding an office in Cologne is no easy task. The openness of the people of Cologne, the joy for life and tolerance draw many to the fourth largest city in Germany. This pushes up rental prices every year. Cologne Cathedral is not only the geographical center of the city, but also a landmark and cultural center. The cathedral city is located on Germany's longest river and used to be a major trading city. Today, it is not only trendy neighborhoods such as the Belgian Quarter that attract creative minds and creators to the city. There is also a wide range of business centers and incubators in the Cologne area. Young companies in particular benefit from this infrastructure. But established companies from the automotive and media industries are also represented in the city and shape it as a lucrative business location.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Teamworker. Developed with love by:</h6>
            <ul class="footer-links">
              <li><a href="https://www.lewagon.com/">Mago Arcera</a></li>
              <li><a href="https://www.lewagon.com/">Justus Toegel</a></li>
              <li><a href="https://www.lewagon.com/">Damian Antonio Avila</a></li>
              <li><a href="https://www.lewagon.com/">Jamal Omar Sultan</a></li>
              <li><a href="https://www.lewagon.com/">Haoliang Shi</a></li>

            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
         <a href="#">OfficeRent</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
